Bonjour {{username|capitalize}} et Bienvenue chez TechFactory,
<br>
Pour activer votre compte  <a href="{{ url('user_activation', {'username': username}) }}">cliquez ici</a>.
<br>
Bonne Visite !
